
{% extends "base.html" %}



{% block content %}
    <ul class="breadcrumbs">
        <li><a href="/">Home</a></li>
        {% for slug,name in breadcrumbs %}
            <li><a href="/category/{{ slug }}">{{ name }}</a></li>
        {% endfor %}
    </ul>

    
    <h1>{{product.title}}: </h1>
    <img src="{{product.thumbnail_link}}">
    {{product.author}} <br>
    {{product.summary}} <br>
    {{product.published_on}} <br>

    <a href="{% url 'shop' %}"> Go Back </a>
{% endblock content %}
